$light-pink: #ff69b4;
$default-red: #e93470;
$bg-default: #fff;
$button-box-shadow: 0 0.375em 1em rgba(25, 113, 245, 0.08);
$button-box-shadow-hover: 0 0.125em 0.25em rgba(15, 103, 235, 0.25);

// $bg-default: rgba(248, 213, 229, 0.3);

$theme-primary: rgb(255, 107, 181);
$prim-r: 255;
$prim-g: 107;
$prim-b: 181;
$theme-primary-v1: rgb($prim-r - (25 * 4), $prim-g - (25 * 4), $prim-b - (25 * 4));
$theme-primary-v2: rgb($prim-r - (25 * 3), $prim-g - (25 * 3), $prim-b - (25 * 3));

$theme-red-opac-8: rgba(233, 53, 113, 0.8);
$theme-red-opac-2: rgba(233, 53, 113, 0.2);
$theme-red: rgb(233, 53, 113);
$red-r: 233;
$red-g: 107;
$red-b: 181;
$theme-red-v1: rgb($red-r - (25 * 4), $red-g - (25 * 4), $red-b - (25 * 4));
$theme-red-v2: rgb($red-r - (25 * 3), $red-g - (25 * 3), $red-b - (25 * 3));

@mixin before-or-after(
  $bg: $theme-primary,
  $w: 100%,
  $h: 100%,
  $br: inherit,
  $tr: (
    transform 0.3s,
    opacity 0.3s
  ),
  $t: 0,
  $l: 0,
  $r: 0,
  $b: 0,
  $o: inherit,
  $zi: 0,
  $bs: none
) {
  position: absolute;
  content: ' ';
  width: $w;
  height: $h;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
  z-index: $zi;
  background: $bg;
  border-radius: $br;
  box-shadow: $bs;
  opacity: $o;
  transition: $tr;
}