.text-theme-primary {
    color: $theme-primary;
}

.text-theme-primary-v1 {
    color: $theme-primary-v1;
}

.text-theme-red {
    color: $theme-red;
}

.bg-theme-primary {
    background-color: $theme-primary;
}

.bg-theme-red-opac-8 {
    background-color: $theme-red-opac-8;
}

.bg-theme-red-v1 {
    background-color: $theme-red-v1;
}

.bg-red-gradient-tb {
    background: linear-gradient(to bottom, $theme-red, $theme-red-v1);
    transition: all 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(to bottom, $theme-red-v1, $theme-red-v2);
    }
}