.text-theme-primary {
    color: $theme-primary;
}

.text-theme-primary-v1 {
    color: $theme-primary-v1;
}

.text-theme-red {
    color: $theme-red;
}

.text-theme-blue {
    color: $theme-blue;
}

.bg-theme-primary {
    background-color: $theme-primary;
}

.bg-theme-red-opac-8 {
    background-color: $theme-red-opac-8;
}

.bg-theme-red-opac-2 {
    background-color: $theme-red-opac-2;
}

.bg-theme-blue-opac-8 {
    background-color: $theme-blue-opac-8;
}

.bg-theme-blue-opac-2 {
    background-color: $theme-blue-opac-2;
}

.bg-theme-red-v1 {
    background-color: $theme-red-v1;
}

.bg-theme-blue-v1 {
    background-color: $theme-blue-v1;
}

.bg-theme-blue {
    background-color: $theme-blue;
}

.bg-red-gradient-tb {
    background: linear-gradient(to bottom, $theme-red, $theme-red-v1);
    transition: all 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(to bottom, $theme-red-v1, $theme-red-v2);
    }
}

.text-gradient {
    background: linear-gradient(
      to right,
      $theme-blue,
      $theme-red,
      $theme-red,
      $theme-blue
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }